.mat-column-actions {
  flex: 0 0 50px;
}

.mat-column-id {
  flex: 0 0 90px;
}

.mat-column-status {
  flex: 0 0 160px;
  flex-direction: column;
  justify-content: center;
}

.mat-column-cadastro {
  flex: 0 0 140px;
  flex-direction: column;
  justify-content: center;
}

.mat-column-categoria {
  flex-direction: column;
  justify-content: center;
}

.mat-column-tipo {
  flex-direction: column;
  justify-content: center;
}

.mat-column-orgao {
  flex-direction: column;
  justify-content: center;
}
