<div class="header bg-gradient-success pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--9">

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Denúncia - {{resourceForm.controls['titulo'].value}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="col" [formGroup]="resourceForm">
      <div class="row">
        <mat-form-field appearance="outline" class="col-md-3">
          <mat-label>Data ocorrido</mat-label>
          <input matInput value="{{resourceForm.controls['dataOcorrido'].value | date:'dd/MM/yyyy'}}" readonly>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-3">
          <mat-label>Status</mat-label>
          <input matInput [value]="getStatusDenunciaTexto(resourceForm.controls['status'].value)" readonly>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-3">
          <mat-label>Categoria</mat-label>
          <input matInput [value]="resourceForm.controls['categoria'].value?.nome" readonly>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-3">
          <mat-label>Código</mat-label>
          <input matInput formControlName="codigoAcompanhamento" readonly>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Descrição</mat-label>
          <input matInput formControlName="descricao" readonly>
        </mat-form-field>
      </div>

      <div *ngIf="resourceForm.controls.cpfDenunciante.value" class="row">
        <mat-form-field appearance="outline" class="col-md-4">
          <mat-label>CPF denunciante</mat-label>
          <input matInput formControlName="cpfDenunciante" readonly>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-4">
          <mat-label>Nome denunciante</mat-label>
          <input matInput formControlName="nomeDenunciante" readonly>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-4">
          <mat-label>E-mail denunciante</mat-label>
          <input matInput formControlName="email" readonly>
        </mat-form-field>
      </div>

      <mat-expansion-panel class="mt-3">
        <mat-expansion-panel-header>
          <mat-panel-title>Evidências</mat-panel-title>
        </mat-expansion-panel-header>

        <mat-grid-list [cols]="colums" rowHeight="1:1" gutterSize="8px" (window:resize)="onResize($event)">
          <mat-grid-tile *ngFor="let evidencia of resource.evidencias; let i = index" class="image-list">
            <img [src]="evidencia.url" (click)="showLightbox(i)">
          </mat-grid-tile>
        </mat-grid-list>
      </mat-expansion-panel>

      <mat-expansion-panel class="mt-3">
        <mat-expansion-panel-header>
          <mat-panel-title>Localização</mat-panel-title>
        </mat-expansion-panel-header>

        <div class="card shadow border-success">
          <div id="map-canvas" class="map-canvas" style="height: 600px;"></div>
        </div>
      </mat-expansion-panel>

      <div class="row justify-content-start mt-3">
        <button mat-raised-button color="primary" [routerLink]="backRouterLink">
          <mat-icon>arrow_back</mat-icon>
          Voltar
        </button>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card style="margin-top: 10px">
    <mat-card-title class="d-flex justify-content-center">
      Respostas
    </mat-card-title>

    <mat-card-content class="col" [formGroup]="respostaForm">
      <div class="row">
        <mat-form-field appearance="outline" class="col-md-2">
          <mat-label>Status</mat-label>
          <mat-select formControlName="status" required placeholder="Selecione...">
            <mat-option *ngFor="let status of statusRespostaDenuncia" [value]="status.valor">
              {{status.descricao}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-7">
          <mat-label>Descrição</mat-label>
          <input matInput formControlName="descricao" placeholder="Descrição da resposta" required>
        </mat-form-field>

        <div class="justify-content-end mt-3">
          <button mat-raised-button color="primary" (click)="addRespostaDenuncia()">
            <mat-icon>add</mat-icon>
            Adicionar Resposta
          </button>
        </div>
      </div>

      <mat-table [dataSource]="respostas" matSort>
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell mat-sort-header *matHeaderCellDef> ID</mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item?.id}} </mat-cell>
        </ng-container>

        <!-- Data Cadastro Column -->
        <ng-container matColumnDef="cadastro">
          <mat-header-cell mat-sort-header *matHeaderCellDef>Data Cadastro</mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item?.dataCadastro | date:'dd/MM/yyyy HH:mm'}} </mat-cell>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <mat-header-cell mat-sort-header *matHeaderCellDef>Status</mat-header-cell>
          <mat-cell *matCellDef="let item"> {{getStatusDenunciaTexto(item?.status)}} </mat-cell>
        </ng-container>

        <!-- Descrição Column -->
        <ng-container matColumnDef="descricao">
          <mat-header-cell mat-sort-header *matHeaderCellDef>Descrição</mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item?.descricao}} </mat-cell>
        </ng-container>

        <!-- Usuario Column -->
        <ng-container matColumnDef="usuario">
          <mat-header-cell mat-sort-header *matHeaderCellDef>Usuario</mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item?.usuario?.nome}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </mat-card-content>
  </mat-card>
</div>
<ng-image-fullscreen-view
  [images]="resource.evidencias | imageToObjectImagePipe"
  [imageIndex]="selectedImageIndex"
  [show]="showFlag"
  (close)="closeEventHandler()"></ng-image-fullscreen-view>
