<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<div class="container-fluid mt--8">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Tipo de categoria</mat-card-title>
        </mat-card-header>
        <mat-card-content>
                <div class="col" [formGroup]="form">
                    <div class="row">
                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Nome</mat-label>
                            <input matInput maxlength="255" formControlName="nome" required>
                        </mat-form-field>
                    </div>
                    <div class="row justify-content-end">
                        <button mat-raised-button type="submit" color="primary"
                            [disabled]="!form.valid || form.pristine" (click)="salvar()">
                            <mat-icon>save</mat-icon>
                            Salvar
                        </button>
                    </div>
                </div>
        </mat-card-content>
    </mat-card>
</div>